/* Limpiadores: resetean los valores predefinidos de la página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/*--------Variables-----------*/
:root{
    --colorAzulLogo: #5271FF;
    --colorAzul: #3A98B9;
    --colorBeige: #FFF1DC;
    --colorAmarillo: #FEFF86;
    --colorGris: #EEEEEE;
}


/*------------------------------------*/
body{
    display: flex;
    flex-direction: column;
}
    .nav_bar{
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
        .nav_bar__links{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
        }
            .nav_bar__link{
                border: 2px hidden;
                border-radius: 5px;
                color: var(--colorAzulLogo);
                padding: 10px 20px;
            }
            .nav_bar__link:hover{
                background-color: var(--colorAzulLogo);
                color: black;
                box-shadow: 1px 1px 1px var(--colorBeige);
            }


    .home{
        background-image: url(./img/fondo-azul.jpg);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
        padding: 100px;
    }
        .home__presentacion{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 60%;
        }
            .presentacion__h2{

            }
            .presentacion__h3{
                
            }
            .presentacion__p{
                
            }
        .home__datos{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
            .datos__img{
                border-radius: 25px;
            }
            .datos__h3{

            }
            .datos__h4{
                text-align: center;
            }
            .datos__rrss{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
            }
                .rrss__link{

                }
                .rrss__img{

                }


    .sobre_mi{
        background-color: var(--colorAmarillo);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px;
        gap: 100px;
    }
        .sobre_mi__bloque1{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 60%;
        }
            .bloque1__h2{

            }
            .bloque1__p{

            }
            .bloque1__imgs{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
            }
        .sobre_mi__bloque2{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 30%;
        }
            .bloque2__h2{

            }
            .bloque2__descripcion{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
                .descripcion__formacion{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                    .formacion__lugar{

                    }
                        .lugar__icono{

                        }
                    .formacion__descripcion{
                        text-align: justify;
                    }
                        .bold{
                            font-weight: bold;
                        }


    .tecnologias{
        background-image: url(./img/fondo-gris.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 50px;
    }
        .tecnologias__h2{

        }
        .tecnologias__lista{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .lista__bloque{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                gap: 60px;
                padding: 20px;
            }


    .proyectos{
        background-color: var(--colorAmarillo);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
        .proyectos__h2{

        }
        .proyectos__expositor{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 120px;
            padding: 20px;
            flex-wrap: wrap;
        }
            .proyecto__link{
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
                .proyecto{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }
                        .proyecto__nombre{

                        }
                        .proyecto__img{

                        }
                        .proyecto__descripcion{
                            text-align: justify;
                        }


    .contacto{
        background-image: url(./img/fondo-azul.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 50px;
    }
        .contacto__h2{

        }
        .contacto__formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
            .inputs__group{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 110px;
            }
                .input__email{

                }
                .input__asunto{

                }
            .input__msg{

            }
            .formulario__botones{

            }
                .botones__boton{

                }


    .footer{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }
        .footer__rrss{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }
        .footer__derechos{
            color: var(--colorGris);
        }